.App {
  text-align: center;
}

.logo {
  width: 25%;
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 1vmin);

  background: rgba(0,119,107, 0.6)
}

.App-link {
  color: #09d3ac;
}

.App-header >h1 {
  color: #09d3ac;
}

