body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
 background-color: rgba(9,211,172, 0.15)

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo{
  margin-left: 38%;
  margin-top: -30px;
}
header {
  height: 5%;
  margin-bottom: 2%;
}


h1 {
  font-size: 20px;
  color: #00776b

}

.voorwerp>p, .voorwerp>h1
 {
  padding-top: 10%;
  width: 250px;
  height: 100px;

}
div.voorwerp {
  width: 80%;
  height: 20%;
  justify-content: center;
  display: flex;
  align-content: space-around;
}

.voorwerp> img {
  max-width: 250px;
  align-items: flex-end;
  max-height: 250px;
  border-radius: 80px;
 
}

.voorwerp>p {
  padding-right: 25px;
  padding-left: 25px;
  max-width: 350px;
}
.voorwerp>button {
  width: 50px;
  margin-left: auto;
  border: none;
  background: transparent;

}
div>.randomButton {
width: 250px;
height: 50px;
margin: 5px 15px 30px 15px;
font-family: verdana ;
border-radius: 8px;
color: black;
border: 2px solid #a33241d0;
background: #a33241d0;
font-size: 20px;
letter-spacing: 2.5px;
}

div>.randomButton:hover {
color: #a33241d0;
background: #2d302f;
transform: scale(1.1);
}